*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lato',sans-serif;
}

body{
    overflow-x: hidden;
}

nav{
    background-color:black;
}

.home h1{
    position:relative;
    text-align: center;
    color: #fff;
    top: 20rem;
    right: 10rem;
    
    
}

/* .home{
    background-image:url('../photos/slide1.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height:91vh;
    opacity:0.8;
    

} */

.card-body {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
  }
  .card {
    margin: 20px 10px;
  }