<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="card text-center">

                <img src='' height="250"/>

                <!-- <img src="./assets/art.jpg" alt="" height="250" class="card-img-top"> -->
                <div class="card-body">

                    <h6 class="card-title"><br><br> </h6>

                    <button type="button" class="btn btn-dark">See More</button><br><br>
                    <div class="icon">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>