{% extends 'base.html' %}

{% block content %}
<div class="container-fluid text-light" id="home-banner">
    <div class="banner-content">
        <h1>Welcome to blog website</h1>
        <h5>Sign up, comment on a blog and post a blog</h5>
    </div>
</div>
    <footer class="footer">
        <div class="social-icons">
            <i class="fa fa-2x fa-facebook"></i>
            <i class="fa fa-2x fa-twitter"></i>
            <i class="fa fa-2x fa-instagram"></i>
        </div>
        <p class="pt-2">Copyright &copy; 2021 Design by Wairimu</p>
    </footer>
{% endblock %}