{% extends 'base.html' %}

{% block content %}
<div class="container-fluid text-light" id="home-banner">
    <div class="banner-content">
        <h1>Welcome to Good Vibez</h1>
        <h5>Let’s get it started!</h5>
    </div>
</div>


<!-- <footer class="footer">
    <div class="social-icons">
        <i class="fa fa-2x fa-facebook"></i>
        <i class="fa fa-2x fa-twitter"></i>
        <i class="fa fa-2x fa-instagram"></i>
    </div>
    <p class="pt-2">Copyright &copy; 2021 Design by Wairimu</p>
</footer> -->



<style>
    body {
        background-image:url(../static/photos/slide1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    h1{
        margin-top:23rem;
        text-align:center;
    }
    h5{
        text-align:center;
    }
</style>



{% endblock %}