{% extends 'base.html' %}

{% block content %}
<div class="container-fluid text-light" id="home-banner">
    <div class="banner-content">
        <h1 class="h1">Welcome to Good Vibez</h1>
        <h5 class="h5">Let’s get it started!</h5>
    </div>
</div>


{% include 'end.html' %}



<style>
    body {
        background-image: url(../static/photos/slide1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        opacity: 0.9;
    }

    

    h1 {
        
        text-align: center;
        color: yellow;

    }

    h5 {
        text-align: center;

    }
</style>



{% endblock %}