<nav class="navbar navbar-expand-lg navbar-custom">
  <a class="navbar-brand"style="color:white;"href="{{ url_for('main.index') }}">Bloggy <span class="logo-title">Blog</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link nav-link-custom" style="color:white;" href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-custom" style="color:white;" href="{{ url_for('main.post') }}">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-custom" style="color:white;" href="{{ url_for('main.all') }}">All post</a>
      </li>
    </ul>
      <ul class="nav navbar-nav navbar-right pr-5">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle nav-link-custom pt-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if current_user.is_authenticated %}
            {{ current_user.username }}
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Sign in</a></li>
        {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <i class="dropdown-item fa fa-sign-out">&nbsp;<a href="{{url_for('auth.logout')}}">Sign out</a></i>
          <i class="dropdown-item fa fa-user-circle">&nbsp;<a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></i>
          <div class="dropdown-divider"></div>
          <i class="dropdown-item fa fa-cog">&nbsp;<a href="#">Settings</a></i>
        </div>
      </li>
      </ul>
  </div>
</nav>